*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
  font-family:Roboto Slab, popins, Tahoma;
  cursor: pointer;
}
html{
  scroll-behavior: smooth;
}
 /*HEADER LAYOUT*/
/* ===== HEADER ===== */
/* ===== HEADER ===== */
.site-header{
  padding: 0 30px;
  width:100% !important;
  
  background:black;
  position:sticky;
  top:0;
  z-index:1000;
}

/* ===== NAVBAR ===== */
.navbar{
  max-width:1200px;
  margin:auto;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
  color:white;
}

.heading{
  font-size:15px;
  white-space:nowrap;
  margin-right:20px ;
  margin-left: 20px;
}

/* ===== DESKTOP MENU ===== */
.menu{
  display:flex;
  gap:25px;
  list-style:none;
}

.menu a{
  color:white;
  font-size:16px;
  text-decoration:none;
}

.menu a:hover{
  color:red;
}

/* ===== HAMBURGER ===== */
.hamburger{
  margin-left:5px 10px;
  width:50px;
  cursor:pointer;
  display:none;
  transition:0.4s;

}

.hamburger span{
  width: 20px;
  display:block;
  height:3px;
  background:rgb(255, 255, 255);
  margin-left: 20px;
  margin-top: 5px;
  transition:0.4s;
}
/* ===== X ANIMATION ===== */
.hamburger.active span:nth-child(1){
  transform:rotate(45deg) translate(5px,5px);
}

.hamburger.active span:nth-child(2){
  opacity:0;
}

.hamburger.active span:nth-child(3){
  transform:rotate(-45deg) translate(6px,-6px);
}

/* ===== SIDE MENU ===== */
#sideMenu{
  position:fixed;
  top:0;
  left:-260px;
  width:260px;
  height:100%;
  background:#222;
  padding-top:80px;
  transition:0.4s;
}

#sideMenu a{
  display:block;
  padding:15px 20px;
  color:white;
  font-size:18px;
  text-decoration:none;
  margin: -20px 0;
}

#sideMenu a:hover{
  color:red;
}

#sideMenu.active{
  left:0;
}
#userName, #userEmail{
  color: rgb(255, 255, 255);
}

  /* ===== RESPONSIVE ===== */
  @media (min-width:768px){
    .menu-div  li{
      display:inline-block;
      margin: 0 5px;
    }
    .menu-div .menu {
      display: inline-block;
    }
    .site-header{
      padding: 35px;
    }
    .hamburger span{
      width: 25px;
    }
    .menu{
      display:block;
      
    }
    .hamburger{
      display:block;
    }
    .heading{
      font-size:18px;
    }
  }
  @media(max-width:768px){
    .menu{
      display:none;
    }.hamburger{
      display: block;
    }
  }
@media (min-width:1200px) {
  .menu a{
    font-size: 15px;
  }
}
@media (min-width:1400px) {
  .menu a{
    font-size: 15px;
  }
}
.text .text1, .text2, .text3, .text4, .text5, .text6{
  color:rgb(2, 2, 2);
  background:rgb(15, 183, 212);
box-shadow: inset 10px 10px 10px rgb(0, 0, 0), inset -10px -10px 10px rgba(11, 109, 124, 0.5);
width: 300px;
height: 170px;
margin:10px 5px;
gap: 50px;
border-radius: 10px;

}
.text{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
}
.text div:hover, .content:hover{
  position: relative;
  animation: move 5s 1;
}
@keyframes move {
  to{transform: rotateY(0);}
  from{transform: rotateY(180deg);}
}
.home{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}
  /*main area with responsive design*/

 
/*MAIN RESPONSIVE DESIGN START*/
 
/* ROBOT */
.robot{
  width:320px;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:20px;
  margin: 20px auto;
}

/* HEAD */
.robot-face{
  width:260px;
  height:180px;
  border-radius:25px;
  background:linear-gradient(145deg,#dfe9f3,#ffffff);
  display:flex;
  align-items:center;
  justify-content:center;
  border:3px solid rgb(22, 22, 36);
  box-shadow:0 0 25px  rgb(22, 22, 36),inset 0 0 25px rgba(0,0,0,0.4);
}

/* EYES */
.eye-div{
  display:flex;
  gap:60px;
}

.eye{
  width:25px;
  height:25px;
  border-radius:50%;
  background:rgb(255, 196, 0);
  box-shadow:0 0 15px rgb(255, 153, 0),0 0 30px rgb(255, 153, 0);
  animation:blink 4s infinite;
}

@keyframes blink{
  0%,95%,100%{transform:scaleY(1);}
  97%{transform:scaleY(0.1);}
}

/* MOUTH */
.mouth{
  width:80px;
  height:6px;
  background:rgb(255, 0, 0);
  margin-top:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgb(255, 0, 0);
}

/* NECK */
.throth{
  width:70px;
  height:25px;
  background:linear-gradient(#888,#444);
  border-radius:10px;
  margin:5px 0;
}

/* STOMACH */
.stomach{
  width:260px;
  height:200px;
  background:#020617;
  border-radius:20px;
  border:3px solid rgb(22, 22, 36);
  box-shadow:0 0 25px rgb(22, 22, 36),inset  rgb(22, 22, 36) 0 25px  rgb(22, 22, 36);
  margin-top:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

#cam{
  width:100%;
  height:100%;
  object-fit:cover;
  display:none;
}

/* BOX */
.box{
  text-align:center;
  margin-top:20px;
}

#start-btn{
  margin-top:10px;
  padding:10px;
  width:100%;
  background:rgb(22, 22, 36);
  border:none;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
  color:white;
}

#start-btn:active{
  transform:scale(0.95);
}
#home-page{
  position: fixed;
  right: 0;
  bottom:0;
  background-color: grey;
  width: 50px;
  height:50px;
  text-align: center;
  border-radius: 5px;
  border-top-left-radius: 10px;
}
#home-page::placeholder{
  color: blue;
}
#home-page a{
  color: rgb(255, 255, 255);
}
.qr-btns{
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.qr-btns button{
  width: 70%;
  margin: 5px 5px;
  padding: 10px 10px;
  border-radius: 5px;
  border:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-property: all;
}

.qr-btns button:hover{
  transition-duration:2s ;
  background-color: red;
}
#maker{
  color: white;
  background-color: purple;
  box-shadow:inset 10px 10px 10px black, inset -10px -10px 10px purple;
}
#download{
  color: black;
  background-color: #33cc33;
  box-shadow: inset 10px 10px 10px black, inset -10px -10px 10px #33cc33;
}
#share{
  color: black;
  background-color: rgb(250, 106, 39);
  box-shadow: inset 10px 10px 10px black, inset -10px -10px 10px rgb(250, 106, 39);
}
#qrBox{
  border: 1px solid red;
  box-shadow: INSET 0 0 10PX red;
}
#qrcode-box{
background: rgb(22, 22, 36);
margin: 20px 0;
width: 100%;
height: 630px;
max-width: 500px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;


}
#qrcode-box h2{
text-align: center;
}
#qrarea{
width: 80%;
height: 50%;
margin: 10px 5%;
resize: none;
overflow: hidden;
outline: none;
box-shadow: 0 0 10px black;

}
.main-qr{
display: flex;
align-items: center;
justify-content: center;
}
@media (min-width:500px) {
  #qrcode-box{
    width:500px;
    max-width:600px;
  }
}
@media (min-width:600px) {
  #qrcode-box{
    width:600px;
    max-width:700px;
  }
}@media (min-width:800px) {
  #qrcode-box{
    width:800px;
    max-width:900px;
  }
  .qr-btns button{
    padding: 20px 20px;
  }
}

/*QR CODE END*/

/*LINKS OPENER CODE START*/
.link-opener-div{
  width: 90%;
  max-width: 500px;
  height: 300px;
  margin: 120px auto;
  border-radius: 10px;
  background: rgb(22, 22, 36);
}
input{
  width:80%;
  padding-top:40px;
  display: flex;
  border: 2px  solid black;
  outline: none;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}#LINK-BTN{
  margin-top: 40px;
  color: white;
  background-color: red;
  padding: 20px 70px;
  border-radius: 5px;
  border:none;
  box-shadow: inset 10px 10px 10px black, inset -10px -10px 10px red;
}
#LINK-BTN:active{
 padding: 14px 49px;
}
.link-opener-div{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* LINK CODE END*/


/*MAIN RESPONSIVE DESIGN END*/

/*footer layout start*/
footer{
  height: 490px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top:5px solid rgb(50, 50, 116) ;
  background-color: rgb(22, 22, 36);
  color: white;
}
#footer-info{
  font-size: 20px;
  font-family:Tahoma, Geneva, Verdana, sans-serif, Arial, ;
}
#developer-name{
  text-align: right;
  
}
.powered-name{
  text-align: start;
}
.user-trust{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.user-trust a{
  color: green;
  margin: 5px;
  transition-property: font-size, width, background-color, border;
  transition-duration: 5s;
}
.user-trust a:hover{
  font-size: 20px;
  border:2px solid red
  }
#images-div i{
  color: rgb(56, 56, 105);
  font-size: 20px;
  margin: 5px;
  transition-property: font-size, width, background-color, border;
  transition-duration: 5s;
}
#images-div i:hover{
   font-size: 25px;
}
@media (min-width:768px) {
  footer{
    height: 320px;
  }
  #images-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .user-trust {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width:900px){
  #images-div i{
    font-size: 25px;
  }
}

/*DAY NIGHT FEATURE*/
/* ================= DARK MODE ================= */

body.dark{
  transition-duration: 5s;
  transition-property: background-color;
  background:#121212;
  color:#ffffff;
}

/* Header */
body.dark .site-header{
  background:#000;
}

/* All main boxes dark */
body.dark #tool-wrapper,
body.dark #unicode-box,
body.dark .container-DIV,
body.dark .assistant,
body.dark #qrcode-box,
body.dark .link-opener-div{
  background:#1e1e1e !important;
  color:#ffffff;
  border-color:#444;
}

/* Textareas */
body.dark textarea{
  background:#2a2a2a;
  color:#ffffff;
  border:1px solid #555;
}

/* Buttons */
body.dark button,
body.dark #selectBtn,
body.dark #downloadBtn,
body.dark #maker,
body.dark #share{
  filter:brightness(0.9);
}

/* Side Menu */
body.dark #sideMenu{
  background:#000;
}

/* Footer */

#awesome-btn{
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(39, 39, 77);
}
.dayNight-box i{
  color: rgb(255, 255, 255);
}
#one + #two{
  margin: 0 10px;
}

#cookieNotice {
  margin-top: 10px;
}

#cookieNotice button {
  background: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
/* Scrollbar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar ka background */
::-webkit-scrollbar-track {
  background: #727272;   /* yahan bg color */
}

/* Scrollbar ka moving part */
::-webkit-scrollbar-thumb {
  background: linear-gradient(orange, red,  orange);   /* thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(purple, indigo, purple);
}

